.WebReact{
    display: flex;
    height: 100vh;
}
.WebReact__left{
    height: 100vh;
    padding-bottom: 14vh;
}
.WebReact__right{
    height: 100vh;
}
.WebReact__right__content{
    height: 86vh;
}

