.header{
    height: 14vh;
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__logo{
    height: 12vh;
    padding-left: 2vw;
}
.header__title{
    padding-left: 6vw;
    font-weight: lighter;
    font-size: 2.5rem;
    color: #61DAFA;
}
@media screen and (max-width: 1024px){

    .header__logo{
        height: 8vh;
        padding-left: 3vw;
    }
    .header__title{
        padding-left: 6vw;
        font-weight: lighter;
        font-size: 1rem;
        color: #61DAFA;
    }
}
