.renderContent{
    width: 80vw;
    padding-left: 3vh;
    padding-right: 6vh;
    overflow: auto;
    padding-bottom: 2vh;
    height: 86vh;
}
@media screen and (max-width: 1024px) {
    .renderContent{
        width: 90vw;
    }
}
